## Simple Data Pipeline - ETL with CSV, Pandas, and SQLite

<div style="background-color: #f2f2f2; padding: 15px; border-radius: 5px; border: 1px solid #dcdcdc;">
    <h3>Submission Details</h3>
    <p>‚úçÔ∏è Please fill in your personal data below.</p>
    <table>
        <tr>
            <td style="width: 200px; font-weight: bold;">First Name: Iftekher</td>
            <td></td>
        </tr>
        <tr>
            <td style="font-weight: bold;">Last Name: Aziz</td>
            <td></td>
        </tr>
        <tr>
            <td style="font-weight: bold;">Matriculation Number: 12338137</td>
            <td></td>
        </tr>
        <tr>
            <td style="font-weight: bold;">Term and Year</td>
            <td>Winter Term 2025</td>
        </tr>
    </table>
</div>

### Welcome! üëã

Welcome to your first PLT! In this task, you'll build a complete, albeit simple, data pipeline from scratch. This is a core skill for anyone working with data. You will act like a data engineer, taking raw data, cleaning it up, and preparing it for analysis. Don't worry if some concepts are new; the goal is to learn by doing. Let's get started!

### Introduction
In this notebook, you will
1. **Extract** data from a CSV file.
2. **Transform** the data using Pandas.
3. **Load** the transformed data into an SQLite database.
4. **Retrieve and Analyze** the data using SQL queries.

### 1. Data Acquisition (Extraction)
Every data journey begins with the raw material: the data itself. In this first section, your task is to act as a data scout. You will find a suitable dataset from a public source, describe its characteristics, and then load it into a Pandas DataFrame, which is the primary tool we will use for the next steps.


#### 1.1. Select and Describe the Dataset

* **You must find and download a dataset** in CSV format from a reputable public source. Your chosen dataset must meet the following criteria:
    * Contain at least **100 rows** and **6 columns**.
    * Include at least one column that can be interpreted as a **date or timestamp**.
    * Include at least one **categorical column** (text) with more than **5 unique categories**.

* You can find a suitable dataset on websites like:
    * **Kaggle:** ([https://www.kaggle.com/datasets](https://www.kaggle.com/datasets)) An excellent resource for a wide variety of real-world datasets.
    * **Google Dataset Search:** ([https://datasetsearch.research.google.com/](https://datasetsearch.research.google.com/)) A search engine specifically for datasets.

* **Describe your chosen dataset.** In the space provided below in the notebook, you must explain the columns and their data types. **Crucially, you must also provide a direct link to the public source or download page of the dataset.**

* **Example:** *I am using the "Video Game Sales" dataset from Kaggle. The columns are: `Rank` (INTEGER), `Name` (TEXT), `Platform` (TEXT), `Year` (INTEGER), `Genre` (TEXT), and `Global_Sales` (REAL). Link: https://www.kaggle.com/datasets/gregorut/videogamesales*

* Place the downloaded CSV file in the same directory as your Jupyter Notebook.

* **Don't forget to submit your CSV file** on Moodle along with your completed notebook.

<div class="alert alert-block alert-success" style="margin-top: 20px">

‚úçÔ∏è <b>Enter your answer here:</b>

I am using the <b> ‚ÄúNetflix Movies and TV Shows‚Äù</b> dataset from <b>Kaggle</b>.  
This dataset contains information about TV shows and movies available on Netflix up to 2021.  
It is suitable because it has <b>8,807 rows</b> and <b>12 columns</b>.  
It also includes at least one column that can be interpreted as a <b>date or timestamp</b> ‚Äî namely <code>date_added</code> (Date) and <code>release_year</code> (Timestamp).  
Additionally, it contains multiple <b>categorical text columns</b> such as <code>country</code>, <code>listed_in</code>, and <code>rating</code>, each with more than five unique categories.

</br>

The columns contained here are:  
<b>show_id (TEXT)</b>, <b>type (TEXT)</b>, <b>title (TEXT)</b>, <b>director (TEXT)</b>, <b>cast (TEXT)</b>, <b>country (TEXT)</b>, <b>date_added (DATE)</b>, <b>release_year (INTEGER)</b>, <b>rating (TEXT)</b>, <b>duration (TEXT)</b>, <b>listed_in (TEXT)</b>, and <b>description (TEXT)</b>.

</br>

<b>Link:</b>  
<a href="https://www.kaggle.com/datasets/shivamb/netflix-shows" target="_blank">https://www.kaggle.com/datasets/shivamb/netflix-shows</a>

</div>

#### 1.2. Load your Dataset
In this step, you'll load your dataset into a **Pandas DataFrame**. A DataFrame is the single most important tool in data analysis with Python. You can think of it as a smart, programmable spreadsheet, like Excel, that holds your data in rows and columns and allows you to perform powerful operations on it.

In [1]:
# Install dependencies
%pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /opt/tljh/user/lib/python3.12/site-packages (2.3.2)
Requirement already satisfied: numpy>=1.26.0 in /opt/tljh/user/lib/python3.12/site-packages (from pandas) (2.2.6)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/tljh/user/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/tljh/user/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /opt/tljh/user/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /opt/tljh/user/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

# Replace 'your_dataset.csv' with the actual filename.
# Note: 'utf-8' is a common encoding. If you get an error, you might need to try
# others like 'latin1', 'iso-8859-1', or 'cp1252'.
try:
    df = pd.read_csv('netflix_titles.csv', encoding='')
    print("CSV loaded successfully!")
except FileNotFoundError:
    print("ERROR: CSV file not found.  Please check the file name and path.")
    # Create an empty DataFrame as a fallback to allow the rest of the notebook to run (for demonstration purposes)
    df = pd.DataFrame()
except Exception as e:
    print(f"ERROR: An unexpected error occurred while loading the CSV: {e}")
    df = pd.DataFrame()  # Fallback to an empty DataFrame

CSV loaded successfully!

#### 1.3. Initial Data Exploration

In [3]:
# View the first few rows of the DataFrame.
if not df.empty:
    print("\nFirst 5 rows of the DataFrame:")
    display(df.head())

    # Examine the structure of the DataFrame (columns, data types, missing values).
    print("\nDataFrame Information:")
    df.info()

    # Display descriptive statistics.
    print("\nDescriptive Statistics:")
    display(df.describe(include='all'))  # Include all data types
else:
    print("\nDataFrame is empty. Cannot perform initial data exploration.")

First 5 rows of the DataFrame:

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

DataFrame Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

Descriptive Statistics:

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
count,8807,8807,8807,6173,7982,7976,8797,8807.000000,8803,8804,8807,8807
unique,8807,2,8807,4528,7692,748,1767,NaN,17,220,514,8775
top,s8807,Movie,Zubaan,Rajiv Chilaka,David Attenborough,United States,"January 1, 2020",NaN,TV-MA,1 Season,"Dramas, International Movies","Paranormal activity at a lush, abandoned prope..."
freq,1,6131,1,19,19,2818,109,NaN,3207,1793,362,4
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014.180198,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.819312,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1925.000000,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013.000000,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017.000000,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019.000000,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021.000000,NaN,NaN,NaN,NaN

### 2. Data Cleaning and Transformation

This is often the most critical part of any data project. Raw data is rarely perfect and needs to be refined before it can be trusted for analysis. In this section, you will act as a data cleaner, inspecting your data for missing values and incorrect types. You will then transform the data by cleaning it up and adding new, calculated information to make it more useful.
#### 2.1. Handling Missing Values

*   Identify and describe any missing values in your dataset.
*   Choose an appropriate strategy to handle them (e.g., drop rows, fill with a specific value, interpolate).
*   Explain your reasoning.
*   **Example:** *The `price` column has some missing values.  I'll fill these with the median price, as it's less sensitive to outliers than the mean.*

<div class="alert alert-block alert-success" style="margin-top: 20px">
‚úçÔ∏è <b>Enter your answer here:</b>
    
In this step, I carefully inspected the dataset to find where values were missing.
From the descriptive statistics and the summary (df.isnull().sum()), I found that the columns
<b>director</b>, <b>cast</b>, <b>country</b>, <b>rating</b>, <b>duration</b>, and <b>date_added</b> contained missing values.
Among them, <i>director</i> and <i>cast</i> had the highest number of missing entries, while about ten rows lacked a <i>date_added</i> value.
All other columns, including <i>release_year</i>, <i>type</i>, and <i>title</i>, were complete.


<b>Strategy used:</b>
‚Ä¢ For missing values in text-based columns (<i>director, cast, country, rating, duration</i>), and <i>date_added</i>, which is a crucial column for time-based analysis, I removed complete row from the dataset.

<b>Reasoning:</b>
I chose this approach to maintain the dataset‚Äôs size and informational value. After cleaning, the dataset contained no remaining missing values and its total size decreased slightly from 8,807 rows to 5,332 rows. However, it's still a lot of data to analysis
</div>

In [4]:
# Check for missing values.
print("Missing Values Before Handling:")
print(df.isnull().sum())

# Drop rows with any remaining missing values (if applicable and justified).
df.dropna(inplace=True) 

print("\nMissing Values After Handling:")
print(df.isnull().sum())

# Display dataset shape after cleaning
print(f"\nDataset shape after cleaning: {df.shape}")

Missing Values Before Handling:
show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

Missing Values After Handling:
show_id         0
type            0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
rating          0
duration        0
listed_in       0
description     0
dtype: int64

Dataset shape after cleaning: (5332, 12)

#### 2.2. Convert Data Types
* Check if the dtypes are appropriate for analysis
* If not, change the dtypes. Explain the reasons

<div class="alert alert-block alert-success" style="margin-top: 20px">
‚úçÔ∏è <b>Enter your answer here:</b>

After checking the data types, I found that most columns were stored as <b>object</b> type, which in Pandas means they are plain text strings.  
This is not ideal for numeric or time-based analysis. Therefore, I verified each column and converted them to more appropriate formats.


<b>Data type evaluation and changes:</b><br/>

- <code>show_id</code>, <code>title</code>, <code>director</code>, <code>cast</code>, <code>country</code>, <code>duration</code>, <code>listed_in</code>, and <code>description</code> ‚Üí converted to <b>string</b> dtype to handle text consistently and prevent mixed-type issues.  
- <code>date_added</code> ‚Üí converted to <b>datetime64[ns]</b> because it represents actual calendar dates. This allows time-based analysis (e.g., content added per year).  
- <code>release_year</code> ‚Üí kept as <b>Int64</b> (integer) because it already contains numeric values representing the release year.  
- <code>type</code> and <code>rating</code> ‚Üí converted to <b>category</b> dtype because they have a limited number of unique values (e.g., Movie/TV Show, PG/TV-MA). This reduces memory use and speeds up grouping operations.

<b>Reason:</b>  
These conversions ensure that numeric, temporal, and categorical operations can be performed efficiently and accurately.  
After conversion, the dataset contains meaningful, analysis-ready data types instead of generic object fields.

</div>

In [5]:
print("\nDtypes BEFORE conversion:")
print(df.dtypes)

# Convert text columns to 'string' dtype
text_cols = [
    'show_id', 'title', 'director', 'cast', 
    'country', 'duration', 'listed_in', 'description'
]
for col in text_cols:
    df[col] = df[col].astype('string')

# Convert 'date_added' to datetime
df['date_added'] = pd.to_datetime(df['date_added'], errors='coerce', format='%B %d, %Y')

# Ensure 'release_year' is integer (nullable)
df['release_year'] = pd.to_numeric(df['release_year'], errors='coerce').astype('Int64')

# Convert 'type' to category
df['type'] = df['type'].astype('category')

# Convert 'rating' to numeric scale
# Define a custom mapping
rating_mapping = {
    'TV-Y': 1,      # Suitable for all children
    'TV-Y7': 2,     # Older children
    'TV-G': 3,      # General audience
    'TV-PG': 4,     # Parental guidance suggested
    'PG': 4,
    'TV-14': 5,     # Parents strongly cautioned
    'PG-13': 5,
    'R': 6,         # Restricted
    'TV-MA': 7,     # Mature audience only
    'NC-17': 8,     # Adults only
}

# Map rating text to numeric, unmapped values become NaN
df['rating_numeric'] = df['rating'].map(rating_mapping)

print("\n'rating' column converted to numeric scale (rating_numeric).")

# Show dtypes after conversion
print("\nDtypes AFTER conversion:")
print(df.dtypes)

# Preview cleaned dataset
display(df.head())

# Save the cleaned dataset to CSV
output_path = "netflix_titles_clean.csv"
df.to_csv(output_path, index=False)
print(f"\n Cleaned dataset has been saved successfully as '{output_path}'.")

Dtypes BEFORE conversion:
show_id         object
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
dtype: object

'rating' column converted to numeric scale (rating_numeric).

Dtypes AFTER conversion:
show_id           string[python]
type                    category
title             string[python]
director          string[python]
cast              string[python]
country           string[python]
date_added        datetime64[ns]
release_year               Int64
rating                    object
duration          string[python]
listed_in         string[python]
description       string[python]
rating_numeric           float64
dtype: object

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,rating_numeric
7,s8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...",2021-09-24,1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s...",7.0
8,s9,TV Show,The Great British Baking Show,Andy Devonshire,"Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...",United Kingdom,2021-09-24,2021,TV-14,9 Seasons,"British TV Shows, Reality TV",A talented batch of amateur bakers face off in...,5.0
9,s10,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",United States,2021-09-24,2021,PG-13,104 min,"Comedies, Dramas",A woman adjusting to life after a loss contend...,5.0
12,s13,Movie,Je Suis Karl,Christian Schwochow,"Luna Wedler, Jannis Niew√∂hner, Milan Peschel, ...","Germany, Czech Republic",2021-09-23,2021,TV-MA,127 min,"Dramas, International Movies",After most of her family is murdered in a terr...,7.0
24,s25,Movie,Jeans,S. Shankar,"Prashanth, Aishwarya Rai Bachchan, Sri Lakshmi...",India,2021-09-21,1998,TV-14,166 min,"Comedies, International Movies, Romantic Movies",When the father of the man she loves insists t...,5.0

 Cleaned dataset has been saved successfully as 'netflix_titles_clean.csv'.


#### 2.3. Transform Your Data

*   Apply any necessary transformations to your data.
*   This might include:
    *   Filtering rows based on certain criteria.
    *   Adding new calculated columns.
    *   Aggregating data (e.g., grouping by a category and calculating sums or averages).
    *   Renaming columns for clarity.
*   Clearly explain the purpose of each transformation.
* Mandatory Transformation: As your final transformation step, you must add a new column to your DataFrame named semester_id. All rows in this column must contain the text value 'WS2025'.

<div class="alert alert-block alert-success" style="margin-top: 20px">
‚úçÔ∏è <b>Enter your answer here:</b>

In this step, I performed several data transformations to prepare the dataset for analysis.  
These transformations help ensure the dataset is clean, structured, and suitable for SQL queries and visual analysis.

<b>Transformations performed:</b><br/>

<b>Removed duplicate and incomplete records:</b>  
All duplicate rows were removed based on the <code>show_id</code> column, ensuring each title appears only once.  
Then, rows containing empty or missing values were dropped for complete data consistency.

<b>Removed unnecessary column:</b>  
The <code>rating</code> column was removed because the cleaned version of its numeric counterpart (<code>rating_numeric</code>) is used for analysis.

<b>Added calculated column:</b>  
Created a new column <code>content_length_type</code> that classifies each title as either a <i>Movie (Minutes)</i> or a <i>TV Show (Seasons)</i> based on its duration text.

<b>Renamed columns for clarity:</b>  
Renamed <code>listed_in</code> to <code>genre</code> and <code>duration</code> to <code>length_info</code> to make their meaning clearer.

<b>Mandatory transformation:</b>  
Added a new column named <code>semester_id</code> with a constant text value <b>'WS2025'</b> for all records, as required in the assignment.


<b>Additional transformations for analysis:</b><br/>
- Aggregated data to find the total number of Movies and TV Shows added per year.  
- Filtered Movies from the United States with <code>rating_numeric</code> below 5.0.  
- Filtered TV Shows that have more than two seasons.  

These transformations enriched the dataset and enabled detailed analysis of Netflix content by type, year, and quality.
</div>

In [6]:
# Load the cleaned dataset
df = pd.read_csv("netflix_titles_clean.csv")

# Remove duplicate rows based on 'show_id'
df = df.drop_duplicates(subset='show_id')

# Replace empty strings or whitespace with NaN, then drop any row containing NaN
df = df.replace(r'^\s*$', pd.NA, regex=True).dropna()

# Drop the 'rating' column
if 'rating' in df.columns:
    df = df.drop(columns=['rating'])

# Create a column showing whether it‚Äôs a Movie or TV Show based on duration text
df['content_length_type'] = df['duration'].apply(
    lambda x: 'Movie (Minutes)' if isinstance(x, str) and 'min' in x
    else ('TV Show (Seasons)' if isinstance(x, str) and 'Season' in x else 'Unknown')
)

# Rename columns for clarity
df.rename(columns={'listed_in': 'genre', 'duration': 'length_info'}, inplace=True)

# Mandatory transformation ‚Äî add semester_id
df['semester_id'] = 'WS2025'
    
# Save the updated dataset
output_path = "netflix_titles_transformed.csv"
df.to_csv(output_path, index=False)

print("Updated dataset saved successfully as 'netflix_titles_transformed.csv'.")

df = pd.read_csv("netflix_titles_transformed.csv")
df.head(10)

Updated dataset saved successfully as 'netflix_titles_transformed.csv'.

,show_id,type,title,director,cast,country,date_added,release_year,length_info,genre,description,rating_numeric,content_length_type,semester_id
0,s8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...",2021-09-24,1993,125 min,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s...",7.0,Movie (Minutes),WS2025
1,s9,TV Show,The Great British Baking Show,Andy Devonshire,"Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...",United Kingdom,2021-09-24,2021,9 Seasons,"British TV Shows, Reality TV",A talented batch of amateur bakers face off in...,5.0,TV Show (Seasons),WS2025
2,s10,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",United States,2021-09-24,2021,104 min,"Comedies, Dramas",A woman adjusting to life after a loss contend...,5.0,Movie (Minutes),WS2025
3,s13,Movie,Je Suis Karl,Christian Schwochow,"Luna Wedler, Jannis Niew√∂hner, Milan Peschel, ...","Germany, Czech Republic",2021-09-23,2021,127 min,"Dramas, International Movies",After most of her family is murdered in a terr...,7.0,Movie (Minutes),WS2025
4,s25,Movie,Jeans,S. Shankar,"Prashanth, Aishwarya Rai Bachchan, Sri Lakshmi...",India,2021-09-21,1998,166 min,"Comedies, International Movies, Romantic Movies",When the father of the man she loves insists t...,5.0,Movie (Minutes),WS2025
5,s28,Movie,Grown Ups,Dennis Dugan,"Adam Sandler, Kevin James, Chris Rock, David S...",United States,2021-09-20,2010,103 min,Comedies,Mourning the loss of their beloved junior high...,5.0,Movie (Minutes),WS2025
6,s29,Movie,Dark Skies,Scott Stewart,"Keri Russell, Josh Hamilton, J.K. Simmons, Dak...",United States,2021-09-19,2013,97 min,"Horror Movies, Sci-Fi & Fantasy",A family‚Äôs idyllic suburban life shatters when...,5.0,Movie (Minutes),WS2025
7,s30,Movie,Paranoia,Robert Luketic,"Liam Hemsworth, Gary Oldman, Amber Heard, Harr...","United States, India, France",2021-09-19,2013,106 min,Thrillers,"Blackmailed by his company's CEO, a low-level ...",5.0,Movie (Minutes),WS2025
8,s39,Movie,Birth of the Dragon,George Nolfi,"Billy Magnussen, Ron Yuan, Qu Jingjing, Terry ...","China, Canada, United States",2021-09-16,2017,96 min,"Action & Adventure, Dramas",A young Bruce Lee angers kung fu traditionalis...,5.0,Movie (Minutes),WS2025
9,s42,Movie,Jaws,Steven Spielberg,"Roy Scheider, Robert Shaw, Richard Dreyfuss, L...",United States,2021-09-16,1975,124 min,"Action & Adventure, Classic Movies, Dramas",When an insatiable great white shark terrorize...,4.0,Movie (Minutes),WS2025

In [7]:
# Movie / TV Show Added by Yearly
df = pd.read_csv("netflix_titles_transformed.csv")

content_summary = (
    df.groupby(['release_year', 'type'])
      .size()
      .reset_index(name='total_added')
)
print("\nNumber of titles by release year and content type:")
content_summary

Number of titles by release year and content type:

    release_year     type  total_added
0           1942    Movie            1
1           1944    Movie            1
2           1945    Movie            1
3           1946    Movie            1
4           1947    Movie            1
..           ...      ...          ...
82          2019  TV Show           24
83          2020    Movie          409
84          2020  TV Show           33
85          2021    Movie          146
86          2021  TV Show           15

[87 rows x 3 columns]

In [8]:
# Filter only Movies with rating_numeric below 5.0 in United States
df = pd.read_csv("netflix_titles_transformed.csv")

# Ensure columns exist
if 'type' in df.columns and 'rating_numeric' in df.columns:
    # Filter only Movies within rating range 4.0‚Äì6.0
    filtered_df = df[
        (df['type'] == 'Movie') &
        (df['rating_numeric'] < 5.0) & (df['country'] == 'United States')
    ]

    print(f"Filtered Movies with numeric rating below 5.0")
    print(f"Total Movies found: {filtered_df.shape[0]}")

    # Show preview
    display(filtered_df.head())

Filtered Movies with numeric rating below 5.0
Total Movies found: 367

,show_id,type,title,director,cast,country,date_added,release_year,length_info,genre,description,rating_numeric,content_length_type,semester_id
9,s42,Movie,Jaws,Steven Spielberg,"Roy Scheider, Robert Shaw, Richard Dreyfuss, L...",United States,2021-09-16,1975,124 min,"Action & Adventure, Classic Movies, Dramas",When an insatiable great white shark terrorize...,4.0,Movie (Minutes),WS2025
10,s43,Movie,Jaws 2,Jeannot Szwarc,"Roy Scheider, Lorraine Gary, Murray Hamilton, ...",United States,2021-09-16,1978,116 min,"Dramas, Horror Movies, Thrillers",Four years after the last deadly shark attacks...,4.0,Movie (Minutes),WS2025
11,s44,Movie,Jaws 3,Joe Alves,"Dennis Quaid, Bess Armstrong, Simon MacCorkind...",United States,2021-09-16,1983,98 min,"Action & Adventure, Horror Movies, Thrillers",After the staff of a marine theme park try to ...,4.0,Movie (Minutes),WS2025
62,s157,Movie,Letters to Juliet,Gary Winick,"Amanda Seyfried, Christopher Egan, Gael Garc√≠a...",United States,2021-09-01,2010,105 min,"Comedies, Dramas, Romantic Movies",By responding to a letter addressed to Shakesp...,4.0,Movie (Minutes),WS2025
72,s169,Movie,Osmosis Jones,"Bobby Farrelly, Peter Farrelly","Chris Rock, Laurence Fishburne, David Hyde Pie...",United States,2021-09-01,2001,95 min,"Action & Adventure, Children & Family Movies, ...",Peter and Bobby Farrelly outdo themselves with...,4.0,Movie (Minutes),WS2025

In [9]:
# Filter only TV Shows with more than 2 Season
# Load dataset
df = pd.read_csv("netflix_titles_transformed.csv")

# Ensure the columns exist
if 'type' in df.columns and 'length_info' in df.columns:
    # Extract the numeric number of seasons from 'length_info'
    df['num_seasons'] = df['length_info'].str.extract(r'(\d+)').astype('float')

    # Filter for TV Shows with more than 2 season
    filtered_tv = df[
        (df['type'] == 'TV Show') &
        (df['num_seasons'] > 2)
    ]

    print(f"Filtered TV Shows with more than 1 season.")
    print(f"Total TV Shows found: {filtered_tv.shape[0]}")

    # Show sample of the filtered data
    display(filtered_tv.head())

Filtered TV Shows with more than 1 season.
Total TV Shows found: 21

,show_id,type,title,director,cast,country,date_added,release_year,length_info,genre,description,rating_numeric,content_length_type,semester_id,num_seasons
1,s9,TV Show,The Great British Baking Show,Andy Devonshire,"Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...",United Kingdom,2021-09-24,2021,9 Seasons,"British TV Shows, Reality TV",A talented batch of amateur bakers face off in...,5.0,TV Show (Seasons),WS2025,9.0
179,s381,TV Show,The Flash,Glen Winter,"Grant Gustin, Candice Patton, Danielle Panabak...",United States,2021-07-28,2021,7 Seasons,"Crime TV Shows, TV Action & Adventure, TV Sci-...",A forensics expert who wakes from a coma with ...,5.0,TV Show (Seasons),WS2025,7.0
287,s677,TV Show,Riverdale,Rob Seidenglanz,"K.J. Apa, Lili Reinhart, Camila Mendes, Cole S...",United States,2021-06-19,2019,4 Seasons,"Crime TV Shows, TV Dramas, TV Mysteries","While navigating the troubled waters of sex, r...",5.0,TV Show (Seasons),WS2025,4.0
554,s1174,TV Show,Men on a Mission,Jung-ah Im,"Ho-dong Kang, Soo-geun Lee, Sang-min Lee, Youn...",South Korea,2021-03-23,2021,6 Seasons,"International TV Shows, Korean TV Shows, Stand...",Male celebs play make-believe as high schooler...,5.0,TV Show (Seasons),WS2025,6.0
694,s1420,TV Show,Last Tango in Halifax,Juliet May,"Derek Jacobi, Anne Reid, Sarah Lancashire, Nic...",United Kingdom,2021-01-12,2020,4 Seasons,"British TV Shows, Romantic TV Shows, TV Dramas",Two widowed childhood sweethearts fall for eac...,7.0,TV Show (Seasons),WS2025,4.0

### 3. Data Loading
Once your data is cleaned and transformed, you need a permanent and efficient place to store it. Flat files like CSVs are good for starting, but databases are much more powerful for analysis. In this section, you will act as a database administrator, creating a new SQLite database and loading your clean DataFrame into a structured table within it.
#### 3.1. Create an SQLite Database

In [10]:
import sqlite3

# Choose a database name.
db_name = 'netflix.db'

try:
    # Connect to the database (it will be created if it doesn't exist).
    conn = sqlite3.connect(db_name)
    print(f"Database '{db_name}' created/connected successfully.")

    # Create a cursor object.
    cursor = conn.cursor()

except sqlite3.Error as e:
    print(f"ERROR: Could not connect to SQLite database: {e}")
    conn = None  # Set conn to None to prevent further database operations

Database 'netflix.db' created/connected successfully.

#### 3.2. Load Data into a Table

In [11]:
if conn:
    # Choose a resonable table name.
    table_name = 'movies_data' 
    # Load the DataFrame into the database.

    try:
        df.to_sql(table_name, conn, if_exists='replace', index=False)  # 'replace' overwrites the table if it exists
        print(f"Data loaded into table '{table_name}' successfully.")
    except Exception as e:
        print(f"ERROR: Failed to load data into table: {e}")
conn

Data loaded into table 'movies_data' successfully.


### 4. Data Retrieval and Analysis
Now that your clean data is securely stored in a database, it's time to put on your data analyst hat. The real value of data comes from the insights you can extract from it. Here, you will use the SQL query language to "ask questions" of your data, retrieving specific subsets and performing calculations to uncover patterns.
#### 4.1. Write SQL Queries

*   Write at least 3 SQL queries to retrieve specific data from the database.
*   Demonstrate different types of queries (e.g., selecting specific columns, filtering with WHERE, using aggregate functions, joining tables - if applicable).
*   Explain the purpose of each query as a comment.
*   The first query must include the verification check "WHERE semester_id='WS2025'"

In [12]:
if conn:
    
    # Query 1: Filter with WHERE clause (Required verification)
    query1 = f"""
    SELECT show_id, title, type, release_year, semester_id
    FROM {table_name}
    WHERE semester_id = 'WS2025' AND type = 'Movie'
    LIMIT 5;
    """
    try:
        result1 = pd.read_sql_query(query1, conn)
        print("\n Result of Query 1 (Filter WHERE semester_id = 'WS2025' AND type = 'Movie'):")
        display(result1)
    except Exception as e:
        print(f"ERROR executing Query 1: {e}")
else:
    print("\nCannot perform data retrieval. Database connection failed.")

 Result of Query 1 (Filter WHERE semester_id = 'WS2025' AND type = 'Movie'):

  show_id         title   type  release_year semester_id
0      s8       Sankofa  Movie          1993      WS2025
1     s10  The Starling  Movie          2021      WS2025
2     s13  Je Suis Karl  Movie          2021      WS2025
3     s25         Jeans  Movie          1998      WS2025
4     s28     Grown Ups  Movie          2010      WS2025

In [13]:
if conn:

    # Query: Select all Movies produced in the United States
    query = f"""
    SELECT *
    FROM {table_name}
    WHERE type = 'Movie' AND country = 'United States'
    LIMIT 5
    """

    try:
        result = pd.read_sql_query(query, conn)
        print("Result of Query (Movies from United States):")
    except Exception as e:
        print(f"ERROR executing query: {e}")

else:
    print("\nCannot perform data retrieval. Database connection failed.")

Result of Query (Movies from United States):

In [14]:
if conn:

    # Query 2: Find Average Numeric Rating by type
    query = f"""
    SELECT type,
           ROUND(AVG(rating_numeric), 2) AS avg_rating
    FROM {table_name}
    WHERE rating_numeric IS NOT NULL
    GROUP BY type
    ORDER BY avg_rating DESC
    """

    try:
        result = pd.read_sql_query(query, conn)
        print("Result of Query (Average Rating per Type):")
        display(result)
    except Exception as e:
        print(f"ERROR executing query: {e}")

else:
    print("Cannot perform data retrieval. Database connection failed.")

Result of Query (Average Rating per Type):

      type  avg_rating
0  TV Show        5.74
1    Movie        5.57

In [15]:
if conn:
    # Query 4: Find the most common release year for each type (Movie / TV Show)
    query = f"""
    SELECT type, release_year, COUNT(*) AS title_count
    FROM {table_name}
    GROUP BY type, release_year
    HAVING COUNT(*) = (
        SELECT MAX(title_count)
        FROM (
            SELECT type AS t, release_year AS r, COUNT(*) AS title_count
            FROM {table_name}
            GROUP BY type, release_year
        ) AS sub
        WHERE sub.t = {table_name}.type
    )
    ORDER BY type;
    """

    try:
        result = pd.read_sql_query(query, conn)
        print("Result of Query (Most Frequent Release Year for Each Type):")
        display(result)
    except Exception as e:
        print(f"ERROR executing query: {e}")

else:
    print("Cannot perform data retrieval. Database connection failed.")

Result of Query (Most Frequent Release Year for Each Type):

      type  release_year  title_count
0    Movie          2017          637
1  TV Show          2020           33

### 5. Documentation and Summary

Finally, take a moment to reflect on your work. A key skill for a data professional is communicating what you did and what you learned. In the answer box below, please provide a summary addressing the following points:

* **Process Summary:** Briefly describe the key steps you took, from finding the CSV to querying the final database.
* **Challenges & Solutions:** What was the biggest challenge you faced? (e.g., a tricky data cleaning step, an unexpected error). How did you solve it?
* **Potential Improvements:** If you had another week, what would you add or improve in this pipeline? (e.g., more detailed data validation, automated error logging).
* **Key Takeaway:** What is the most important thing you learned from completing this assignment?

<div class="alert alert-block alert-success" style="margin-top: 20px">
‚úçÔ∏è <b>Enter your answer here:</b>

<b>Process Summary:</b><br/>
In this project, I created a complete ETL (Extract, Transform, Load) data pipeline using Python, Pandas, and SQLite. I began by selecting and downloading the <b>Netflix Movies and TV Shows</b> dataset from Kaggle. After loading it into a Pandas DataFrame, I performed data cleaning by removing duplicates, handling missing values, and dropping unnecessary columns. I then transformed the dataset by adding new calculated columns such as <code>content_length_type</code> and the mandatory <code>semester_id = 'WS2025'</code>. The cleaned data was loaded into a SQLite database, and I wrote multiple SQL queries to retrieve, filter, and aggregate data ‚Äî including verifying semester entries, counting titles by year, and finding the latest release years for Movies and TV Shows.


<b>Challenges & Solutions:</b><br/>
The most challenging part was cleaning and transforming the dataset, especially handling missing <code>date_added</code> values and ensuring proper <code>datetime</code> conversion. Some dates were in non-standard text formats (e.g., ‚ÄúSeptember 5, 2019‚Äù), which caused parsing errors. I solved this by specifying the exact format (<code>%B %d, %Y</code>) in <code>pd.to_datetime()</code> and dropping invalid entries. Another challenge was ensuring consistent data types before loading into SQLite ‚Äî I carefully converted text columns to <code>string</code>, numeric columns to <code>Int64</code>, and categories like <code>type</code> and <code>rating</code> to <code>category</code>.


<b>Potential Improvements:</b><br/>
If I had more time, I would add a validation layer before loading data into the database. For example, I could include automated data quality checks for missing values, invalid years, and duplicate entries. Additionally, I would implement logging functionality to track the ETL process automatically and build visual dashboards (e.g., in Power BI or Matplotlib) to display statistics such as average rating per genre or the number of titles added per year.


<b>Key Takeaway:</b><br/>
The most important thing I learned from this assignment is how each step of the ETL process builds upon the previous one. Proper data cleaning and transformation are crucial for meaningful analysis. I also gained confidence in combining Python‚Äôs data manipulation power (Pandas) with SQL‚Äôs querying capabilities, which is an essential skill for real-world data engineering and analytics work.
</div>

## Submission Checklist
- [ ] Verify that you have filled out all the required information in all cells. Remember: You must submit a complete, functional, and readable solution that follows the instructions and guidelines. 
- [ ] Crucial Final Check: Restart the kernel (Kernel -> Restart & Run All) to ensure your notebook runs from top to bottom without errors.
- [ ] Please make sure you submit timely. The deadline is always Friday, 13:15, one week after the PLT release.

## Submission Files
- [ ] Submit this Notebook as *matriculation_number*-plt-1.ipynb, e.g., *05845964-plt-1.ipynb*
- [ ] Your csv file
- [ ] In case you used any other libraries, submit a requirements.txt file

---

> **Reference:**
> ChatGPT ([https://chat.openai.com/](https://chat.openai.com/)) was used to assist in writing and formatting the Markdown explanations and code documentation.